* {
    font-family: Arial, Helvetica, sans-serif;
}
a {
    color: inherit;
    text-decoration: none;
}

:root{
    --corBranco: #ffffff;
    --corPreto: #000000;
    --corAzulEscuro: #1e7705;
    --corAzulClaro: #F4F5F8;
    --corSombra: rgba(0, 0, 0, 0.35);
}
body{
    background-color: var(--corAzulClaro);
    font-size: 20px;
}
header{
    background-color: var(--corAzulEscuro);
    color: var(--corBranco);
    margin: -28px -8px 0px -8px;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    box-shadow: 0px 3px 7px var(--corSombra);
    text-shadow: 1px 1px 7px var(--corSombra);
}
header > h1{
    padding: 20px;
}
main{
    margin: 40px auto 20px auto;
    max-width: 700px;
    display: block;
}

.secaoDevPrograma{
    padding: 20px;
    margin-top: 20px;
}

form {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


#entradaDados{
    background-color: var(--corBranco);
    padding: 20px;
    max-width: 500px;
    margin: 0px auto;
    border-radius: 15px;
    box-shadow: 2px 2px 10px var(--corSombra);
}
.headerInfo {
    margin-right: 17px;
}
.inputsText {
    margin-top: 0px;
}
.fieldEstiloTab {
    margin-top: 20px;
}
.estiloTabJs {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.codLatex {
    display: block;
    margin: 15px auto 0px auto;
}
footer{
    text-align: center;
}